<% include ../partials/header %>


    <header>
        <div class="header-box">
            <h1>GaMoment</h1>
            <p>Ahh, Here We Play Again.</p>
        </div>
        <!-- <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul> -->
    </header>

    <main id="showroom">
        <div class="d-flex justify-content-between">
            <h3>Best Moments</h3>
            <% if(currentUser){%>
            <div class="p-1 bd-highlight">
                <a class="btn btn-sm btn-info" href="/campgrounds/new">Add New Moment</a>
            </div>
            <% } %>
        </div>

        <div class="card-columns">
            <div class="card">
                <a href="#">
                    <img src="/images/slide-6.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sekiro: GOTY</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quae soluta repellat? Vel incidunt minima maiores eius. Repellat, animi corporis. Dolores cumque fugiat inventore a minus error similique maxime nemo nam distinctio, voluptatum tempore neque voluptatibus assumenda beatae ratione libero nihil dolorem unde quas amet voluptate culpa recusandae. Suscipit, sunt?</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </a>
            </div>

            <% campgrounds.forEach((campground) => {%>
                <div class="card">
                    <a href="/campgrounds/<%= campground._id %>">
                        <img src="<%= campground.image %>" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.name %></h5>
                            <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </a>
                </div>
            <% }) %>
            
        </div>

        <!-- <div class="row" style="display:flex; flex-wrap: wrap;">
            <% campgrounds.forEach((campground) => {%>
                <div class="col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>">
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                        <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
                    </div>                
                </div> 
            <% }) %>    
        </div> -->
    </main>

<% include ../partials/footer %>